@{
    
    ViewData["Title"] = "Home Page";
}

@section Nav
{
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <partial name="_TodoPartial"/>
    </div>
}

<div class="editor-container">
    <textarea id="coder">

</textarea>
</div>

@section Scripts
{
    <script src="~/js/app.js"></script>
}